<h4><p class="text-muted">Manage useful links visible in the mobile application.</p></h4>
<a href="/app/dashboard"><button class="btn btn-primary btn-back">Cancel</button></a>
<button class="saveLinks btn btn-primary" type="click" style="float:right;">Save All Changes</button>
<hr style="border-color:#561838";></hr>
<h4 id="titleLabel">Mobile App Useful Links</h4>
<div id="links">

</div>
<hr style="border-color:#561838";></hr>
<button class="saveLinks btn btn-lg btn-primary btn-block" type="click">Save All Changes</button>