<h4><p class="text-muted">Manage useful links visible in the mobile application.</p></h4>
<a href="/app/dashboard"><button class="btn btn-primary btn-back">Cancel</button></a>
<button class="saveLinks btn btn-primary" type="click" style="float:right;">Save All Changes</button>
<hr style="border-color:#561838";></hr>
<h4 id="titleLabel">Mobile App Useful Links</h4>
<div id="links">

</div>
<hr style="border-color:#561838";></hr>
<button class="saveLinks btn btn-lg btn-primary btn-block" type="click">Save All Changes</button>
<script>

    loadPage();

    var structures = new Array();

    function loadPage(theMessage) {
        setLoadingMessage("Loading useful links...");
        $("#loading").fadeIn();
        $.ajax({
            url: "manage/ajax/load",
            type: "post",
            data: {key: "value"}, // Encrypt all data...
            datatype: 'json',
            crossDomain: true,

            success: function(response){
                structures = response["structures"];
                if (structures != null) {
                    loadContent();
                    if (theMessage != null)
                        setMessage(theMessage, false);
                    $("#loading").fadeOut();
                } else {
                    setMessage("Unable to load configurations. Please try to reload the page.", true);
                    $("#loading").fadeOut();
                }
            },

            error: function(request, status, error) {
                setMessage("Internal server error. If this problem continues, please contact support.", true);
                $("#loading").fadeOut();
            }
        });
    }

    function loadContent() {

        var tableDiv = document.getElementById("links");

        $("#links").html("");

        for (var i = 0; i < structures.length; i++) {

            var button = document.createElement("INPUT");
            button.type = "button";
            button.className = "btn btn-lg btn-primary deleteCategory";
            button.value = "Delete Category";
            button.name = i;
            button.id = "deleteCategory_" + i;
            button.style.float = "right";
            button.style.backgroundColor = "red";
            button.style.borderColor = "red";
            tableDiv.appendChild(button);

            var label = document.createElement("H4");
            label.innerHTML = "Category Name";
            label.style.float = "left";
            label.style.marginRight = "10px";
            label.id = "label_" + i;
            tableDiv.appendChild(label);

            var header = document.createElement("TEXTAREA");
            header.value = structures[i].get("headerTitle");
            header.class = "form-control";
            header.style.display = "block";
            header.id = "header_" + i;
            header.width = "33%";
            header.display = "block";
            header.style.marginBottom = "10px";
            tableDiv.appendChild(header);

            var table = document.createElement("TABLE");
            table.id = "bigTable_" + i;

            var tableBody = document.createElement("TBODY");

            tableBody.id = "table_" + i;

            table.appendChild(tableBody);
            table.className = "table table-striped";

            var heading = new Array();
            heading[0] = "Link Title";
            heading[1] = "Hyperlink";
            heading[2] = "Action";

            //TABLE COLUMNS

            var tr = document.createElement("TR");
            tableBody.appendChild(tr);

            for (var k = 0; k < heading.length; k++) {
                var th = document.createElement("TH");
                if (k < 2) {
                    th.width = "40%";
                } else {
                    th.width = "20%";
                };
                th.appendChild(document.createTextNode(heading[k]));
                tr.appendChild(th);
            };

            var links = structures[i].get("linksArray");

            for (var j = 0; j < links.length; j++) {

                var tr = document.createElement("TR");
                tr.id = "row_" + i + "_" + j;

                var object = links[j];

                var tdOne = document.createElement("TD");

                var titleTextArea = document.createElement("TEXTAREA");
                titleTextArea.value = object["titleString"];
                titleTextArea.class = "form-control";
                titleTextArea.style.display = "block";
                titleTextArea.style.width = "100%";
                titleTextArea.style.overflowY = "scroll";
                titleTextArea.style.resize = "none";
                titleTextArea.id = "title_" + i + "_" + j;
                tdOne.appendChild(titleTextArea);
                tr.appendChild(tdOne);

                var tdOne = document.createElement("TD");

                var linkTextArea = document.createElement("TEXTAREA");
                linkTextArea.value = object["URLString"];
                linkTextArea.class = "form-control";
                linkTextArea.style.display = "block";
                linkTextArea.style.width = "100%";
                linkTextArea.style.overflowY = "scroll";
                linkTextArea.style.resize = "none";
                linkTextArea.id = "link_" + i + "_" + j;
                tdOne.appendChild(linkTextArea);
                tr.appendChild(tdOne);

                var tdOne = document.createElement("TD");
                tdOne.id = "box_" + i + "_" + j;

                var button = document.createElement("INPUT");
                button.type = "button";
                button.className = "btn btn-lg btn-primary deleteLink";
                button.value = "Delete";
                button.name = i;
                button.id = "delete_" + i + "_" + j;
                button.style.marginRight = "10px";
                button.style.backgroundColor = "red";
                button.style.borderColor = "red";
                tdOne.appendChild(button);

                if (j == links.length - 1) {
                    var button = document.createElement("INPUT");
                    button.type = "button";
                    button.className = "btn btn-lg btn-primary addLink";
                    button.value = "Add Link";
                    button.id = "add_" + i;
                    tdOne.appendChild(button);

                    tr.appendChild(tdOne);

                    tableBody.appendChild(tr);
                };

                tr.appendChild(tdOne);

                tableBody.appendChild(tr);

                tableDiv.appendChild(table);
            };
        };

        var button = document.createElement("INPUT");
        button.type = "button";
        button.className = "btn btn-lg btn-primary addCategory";
        button.value = "Add a New Category";
        button.name = i;
        button.style.marginBottom = "10px";
        button.id = "addCategory";
        tableDiv.appendChild(button);
    }

    $(document).on('click', ".deleteLink", function() {
        BootstrapDialog.confirm({
            title: 'Confirmation',
            message: 'Are you sure you want to delete this link?',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-primary', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    removeRowFunction($(this));
                };
            }
        });
    });

    $(document).on('click', ".addLink", function() {
        addRowFunction($(this));
    });

    $(document).on('click', ".deleteCategory", function() {
        BootstrapDialog.confirm({
            title: 'Confirmation',
            message: 'Are you sure you want to delete this category?',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-primary', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    deleteCategoryFunction($(this));
                };
            }
        });
    });

    $(document).on('click', ".addCategory", function() {
        addCategoryFunction();
    });

</script>