<h4><p class="text-muted">Complete the following form to submit a new group update.</p></h4>
<% include ./navigation %>
<form class="form-add-groupUpdate" role="form" id="form" name="form" method="post" action="/app/dashboard/group/post" enctype="multipart/form-data" onsubmit="submitFunction();" style="padding-top:20px;">
	<label for="ECselect" id="groupLabel">Select Group(s)</label><br>
	<input type="text" id="search" placeholder=" SEARCH"><br><br>
	<input type="hidden" name="groupArray"/>
	<div id="checkboxes">

	</div>
	<br>
	<div class="form-group">
		<label for="message">Message (200 characters max)</label>
		<% include ../markdown.ejs %>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Post Group Update</button>
</form>
<script>

setLoadingMessage("Loading groups...");
$("#loading").fadeIn();

$('#pad').attr("maxlength", "200");

$.ajax({
    url: "post/ajax/load",
    type: "post",
    data: {username: "<%= model.object.user.username %>"}, // Encrypt all data...
    datatype: 'json',
    crossDomain: true,

    success: function(response){
        if (Array.isArray(response["res"])) {
            var structures = response["res"];
            var box = document.getElementById('checkboxes');
            for (var i = 0; i < structures.length; i++) {
                var node = document.createElement('div');
                node.innerHTML = '<input type="checkbox" onchange="arrayEdit(' + structures[i]["extracurricularID"]+');" id="check' + i + '" value="' + structures[i]["extracurricularID"] + '" name="check' + i + '">' + ' ' + structures[i]["titleString"] + '';
                box.appendChild(node);
            };
            if (structures.length == 0) {
                $("#messages").html('<div class="alert alert-danger fade in"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong>Error: You are not the owner of any Extracurricular groups. However, you can <a href="/app/dashboard/group/manage/create">REGISTER</a> a new group, where you will be able to send push notifications to users who subscribe.</strong></div>');
                $(".dashContent").remove();
            }
            $("#loading").fadeOut();
        } else {
            $("#messages").html('<div class="alert alert-danger fade in"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong>Unable to load groups. Please try to reload the page.</strong></div>');
            $('#checkboxes').html('<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>No groups to display.</h4>');
            $("#loading").fadeOut();
        }
    },

    error: function(request, status, error) {
        $("#messages").html('<div class="alert alert-danger fade in"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong>Internal server error. If this problem continues, please contact support.</strong></div>');
        $('#checkboxes').html('<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>No groups to display.</h4>');
        $("#loading").fadeOut();
    }
});

var structuresArray = new Array();

function arrayEdit(j) {
	if ($.inArray(j, structuresArray) > -1) {
		if (structuresArray.length === 1) {
			structuresArray.pop();
		} else {
			structuresArray.splice(structuresArray.indexOf(j), 1);
		};
	} else {
		structuresArray.push(j);
	};
}

$('#search').keyup(function() {

	var $rows = $('#checkboxes div');

	for (var i = 0; i < $rows.length; i++) {
		if ($rows[i].innerHTML.toLowerCase().indexOf(($(this).val()).toLowerCase()) > -1) {
			$($rows[i]).show();
		} else {
			$($rows[i]).hide();
		};
	}
});

function submitFunction() {
	document.form.groupArray.value = structuresArray;
}

$('form').submit(function (e) {
    setLoadingMessage("Posting message...");
    $("#loading").fadeIn();
});

$('#pad').val(`<%- model.customModel.content %>`);

</script>