[submodule "wildcatconnect-job"]
	path = job
	url = https://github.com/kalyons11/wildcatconnect-job.git
[submodule "wildcatconnect-web"]
	path = core/web
	url = https://github.com/kalyons11/wildcatconnect-web.git
