<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Account Confirmation</title>
    <link href="./local.css" rel="stylesheet">
</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <!-- content -->
            <div class="content">
                <div>
                    <div class="imageLeft">
                        <img src="https://static.wildcatconnect.com/wey-logo.png" width="100%">
                    </div>
                    <div class="text-right">
                        <h1>WildcatConnect</h1>
                        <p>Bringing together Weymouth students, families, faculty and administrators in a user-friendly mobile application.</p>
                    </div>
                </div>
                <hr style="margin-bottom: 10px;">
                <table>
                    <tr>
                        <td>
                            <p>Dear <%= model.name %>,</p>
                            <br>
                            <p>Your new WildcatConnect account has been approved!
                                With your faculty account, you will now be able to log in to both the <a href="https://wildcatconnect.com/download/ios">WildcatConnect iOS App</a> and our <a href="https://wildcatconnect.com/app">Web Application</a>.
                                For your first login, you will be required to enter the following credentials...</p>
                            <br>
                            <p>Username = <strong><%= model.username %></strong></p>
                            <p>Password = <strong>The password you created during account registration.</strong></p>
                            <p>Registration Key = <strong><%= model.key %></strong></p>
                            <br>
                            <p><strong>NOTE: All usernames, passwords and keys are case-sensitive.</strong></p>
                            <br>
                            <p>For security purposes, your registration key will expire in 72 hours, at which time you will need to re-register your account.</p>
                            <p>Enjoy posting and sharing with students, faculty and families!</p>
                            <br>
                            <p>Best,</p>
                            <br>
                            <p>WildcatConnect Development Team</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p><strong>If you did not register an account and are receiving this e-mail in error, please <a href="mailto:team@wildcatconnect.com">contact us</a> immediately.
                                </strong></p>
                            <% var now = new Date(); var year = now.getFullYear(); %>
                            <p><p class="text-muted">&copy; <%= year %> WildcatConnect Educational Technologies. All rights reserved.</p></p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /footer -->

</body>
</html>