<div class="main-container" style="padding-left:20px; padding-right:20px;">
  <form id="form" class="form-forgot" style="width:400px; margin:0 auto;" role="form" method="post" action="/app/forgot" enctype="multipart/form-data">
      <h2 class="form-signin-heading" style="text-align:center;">Forgot Something?</h2>
      <input type="email" name="email" class="form-control" placeholder="E-Mail" required="" autofocus="" autocorrect="off" autocapitalize="off">
      <button class="btn btn-lg btn-primary btn-block loadingButton" id="recover" style="margin-top:10px;margin-bottom:10px;" type="submit"><img src="/images/spinner.gif" width="40px" id="btnimg" style="display:none;" class="btnimg"/><div id="signText">Recover Account</div></button>
      <a href="/app/login"><button class=" btn btn-lg btn-primary btn-block" type="button">Cancel</button></a>
  </form>
</div>
<script>
    $('#form').submit(function (e) {
      $('#recover').attr("disabled", "true");
      $('#signText').html("Recovering...");
      $("#btnimg").fadeIn();
    });
</script>