<div class="main-container" style="padding-left:20px; padding-right:20px;">
  <form class="form-forgot" style="width:400px; margin:0 auto;" role="form" method="post" action="/forgot">
      <h2 class="form-signin-heading" style="text-align:center;">Forgot Something?</h2>
      <input type="email" name="email" class="form-control" placeholder="E-Mail" required="" autofocus="" autocorrect="off" autocapitalize="off">
      <button class="btn btn-lg btn-primary btn-block" style="margin-top:10px;margin-bottom:10px;" type="submit">Recover Account</button>
    <button class="cancel-errors btn btn-lg btn-primary btn-block" type="cancel">Cancel</button>
  </div>
</div>