<% if (model.page.title == "Login" || model.page.title == "Forgot" || model.page.title == "Register Account") { %>
<div id="messages" class="messagesDiv">
<% } else { %>
<div id="messages">
<% } %>
	<% for (var i = 0; i < model.page.theErrors.length; i++) { %>
		<% if (model.page.theErrors[i].isError) { %>
			<div class="alert alert-danger fade in">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<strong>Error: <%= model.page.theErrors[i].message %></strong>
			</div>
		<% } else { %>
			<div class="alert alert-success fade in">
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				<strong>Message: <%= model.page.theErrors[i].message %></strong>
			</div>
		<% } %>
	<% } %>
	<% if (session != null && session.theErrors != null) { %>
		<% for (var i = 0; i < session.theErrors.length; i++) { %>
			<% if (session.theErrors[i].isError) { %>
				<div class="alert alert-danger fade in">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<strong>Error: <%= session.theErrors[i].message %></strong>
				</div>
			<% } else { %>
				<div class="alert alert-success fade in">
					<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
					<strong>Message: <%= session.theErrors[i].message %></strong>
				</div>
			<% } %>
		<% } %>
	<% } %>
</div>