<h4><p class="text-muted">Manage various developer tools and application services.</p></h4>
<a href="/app/dashboard"><button class="btn btn-primary btn-back">Cancel</button></a>
<table class="console table table-bordered" style="margin-top: 20px;">
    <tbody>
        <tr>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://console.aws.amazon.com"><img style="width:70%; padding-bottom: 10px;" src="/images/console/aws.png"></a>
                    <br>
                    <i>Mangement console for all web application and cloud computing tools.</i>
                </div>
            </td>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://cloudflare.com"><img style="width:70%; padding-bottom: 10px;" src="/images/console/cloudflare.png"></a>
                    <br>
                    <i>DNS and network analytics management and security.</i>
                </div>
            </td>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://wildcatconnect.loggly.com"><img style="width:70%;padding-bottom: 10px;" src="/images/console/loggly.png"></a>
                    <br>
                    <i>Log collection and monitoring.</i>
                </div>
            </td>
        </tr>
        <tr>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://mailgun.com"><img style="width:70%; padding-bottom: 10px;" src="/images/console/mailgun.png"></a>
                    <br>
                    <i>Custom SMTP mail API for domains.</i>
                </div>
            </td>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://parse.com"><img style="width:70%;padding-bottom: 10px;" src="/images/console/parse.png"></a>
                    <br>
                    <i>Parse backend DBAAS.</i>
                </div>
            </td>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://github.com/wildcatconnect/main"><img style="width:50%;padding-bottom: 10px;" src="/images/console/github.png"></a>
                    <br>
                    <i>Direct link to our GitHub repository.</i>
                </div>
            </td>
        </tr>
        <tr>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://mlab.com"><img style="width:70%; padding-bottom: 10px;" src="/images/console/mlab.png"></a>
                    <br>
                    <i>Access to database tables and other metrics.</i>
                </div>
            </td>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://mail.wildcatconnect.com"><img style="width:70%; padding-bottom: 10px;" src="/images/console/mail.png"></a>
                    <br>
                    <i>Access e-mails in a desktop client.</i>
                </div>
            </td>
            <td width="33%" style="text-align:center; vertical-align:middle;">
                <div>
                    <a target="_blank" href="https://siteground.com"><img style="width:70%;padding-bottom: 10px;" src="/images/console/siteground.png"></a>
                    <br>
                    <i>Domain registrar for urgent issues with live chat support.</i>
                </div>
            </td>
        </tr>
    </tbody>
</table>