<h4><p class="text-muted">Create a new group for sharing information and updates.</p></h4>
<% include ./navigation %>
<form name="form" id="form" class="form-add-groupRegister" role="form" method="post" action="/app/dashboard/group/manage/create" enctype="multipart/form-data" style="padding-top:20px;">
    <div class="form-group">
        <label for="title">Group Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="content">Group Information (i.e. purpose, advisor(s), meeting times and locations, etc.) (400 characters max)</label>
        <textarea id="content" name="content" class="form-control" maxlength="400" rows="6" style="overflow-y: scroll; resize: none;"></textarea>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
<script>
    $('form').submit(function (e) {
        setLoadingMessage("Creating group...");
        $("#loading").fadeIn();
    });

    $('#title').val("<%= model.customModel.title %>");
    $('#content').val(`<%- model.customModel.content %>`);
</script>