<h2 id="welcomeLabel">WildcatConnect Web Portal</h2>
<h5 id="nameLabel">Logged in as <%= model.object.user.firstName %> <%= model.object.user.lastName %> - <%= model.object.user.userType %></h5>
<hr style="border-color:#561838";></hr>
<h2 style="text-align:center;">Faculty Tools</h2>
<table class="table">
  <tr>
    <td width="33%" style="padding-bottom: 1em; padding-top: 1em;"><a href="./news"><button class="add-news btn btn-lg btn-primary maroon" style="margin-bottom:100px; display: block; width: 80%; margin:auto; background-color:#561838; border-color:#561838;"><img src="/images/news@2x.png" alt="Logo" width="30" style="vertical-align: middle; margin-right:10px;"/>Wildcat News Story</button></a></td>
    <td width="33%" style="padding-bottom: 1em; padding-top: 1em;"><a href="./community"><button class="add-news btn btn-lg btn-primary maroon" style="margin-bottom:100px; display: block; width: 80%; margin:auto; background-color:#561838; border-color:#561838;"><img src="/images/community@2x.png" alt="Logo" width="30" style="vertical-align: middle; margin-right:10px;"/>Community Service</button></a></td>
    <td width="33%" style="padding-bottom: 1em; padding-top: 1em;"><a href="./event"><button class="register-ec btn btn-lg btn-primary" style="margin-bottom:100px; display: block; width: 80%; margin:auto; background-color:#561838; border-color:#561838;"><img src="/images/event@2x.png" alt="Logo" width="30" style="vertical-align: middle; margin-right:10px;"/>Event</button></a></td>
  </tr>
  <tr>
    <td width="33%" style="padding-bottom: 1em; padding-top: 1em;"><a href="./groupUpdate"><button class="add-ec btn btn-lg btn-primary" style="margin-bottom:100px; display: block; width: 80%; margin:auto; background-color:#561838; border-color:#561838;"><img src="/images/group@2x.png" alt="Logo" width="30" style="vertical-align: middle; margin-right:10px;"/>Group Update</button></a></td>
    <td width="33%" style="padding-bottom: 1em; padding-top: 1em;"></td>
    <td width="33%" style="padding-bottom: 1em; padding-top: 1em;"><a href="./groupManage"><button class="add-ec btn btn-lg btn-primary" style="margin-bottom:100px; display: block; width: 80%; margin:auto; background-color:#561838; border-color:#561838;"><img src="/images/group@2x.png" alt="Logo" width="30" style="vertical-align: middle; margin-right:10px;"/>Group Management</button></a></td>
  </tr>
</table>