<form id="form" role="form" method="post" action="/app/dashboard/settings/changePassword">
	<div style="padding-bottom:20px;">We will send an e-mail to your account at <%= model.object.user.email %> to reset your password. Press the button below.</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Send Reset E-Mail</button>
</form>
<script>
    $('form').submit(function (e) {
    	$("#loading").fadeIn();
    });
 </script>