<!DOCTYPE html>
<html>
<% var model = model; %>
<head>
    <% include ../partials/head %>
    <% include ../partials/script %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<main class="main-container holderHome">
    <div class="fixedHome">
        <% include ../partials/home %>
    </div>
</main>
<% include ../partials/footer %>
</body>
</html>