<!DOCTYPE html>
<html>
	<% var model = model %>
	<head>
		<% include ../partials/head %>
		<% include ../partials/script %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<div class="holder">
				<div class="fixed" style="position:relative; width:100%;">
					<% include ../partials/messages %>
					<% include ../partials/login %>
				</div>
			</div>
		</main>
	</body>
</html>