<div class="panel panel-success markdownPanel">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" class="markdownLink" id="toggle" href="#collapse"><span id="glyph" class="glyphicon glyphicon-plus"></span><strong>Want to make your text bold? Add links? Create a subheading? Click here to learn how.</strong></a>
		</h4>
	</div>
	<div id="collapse" class="panel-collapse collapse">
		<div class="panel-body">
            <div style="text-align:center;width:100%;padding-bottom:20px;font-size:18px;">
                Click on the tabs below to learn about text formatting.
            </div>
            <table class="table table-striped markdownHelp" id="markdownHelp">
                <tbody>
                    <tr style="text-align: center; border-color: #ffffff !important; border:0px;">
                        <td style="background-color: #428bca;" width="50%"><b>What you type...</b></td>
                        <td style="background-color: #428bca;"><b>What you see...</b></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="markdownLink"  data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Titles and Headings</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td width="50%">
                                        # Big title<br>
                                        ## Medium title<br>
                                        ### Something smaller<br>
                                        ...<br>
                                        ###### Smallest
                                    </td>
                                    <td>
                                        <h1>Big title</h1>
                                        <h2>Medium title</h2>
                                        <h3>Something smaller </h3>
                                        ...
                                        <h6>Smallest</h6>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="markdownLink" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Bold and Italics</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body"><div class="panel-body">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td width="50%">*italics*</td>
                                        <td><em>italics</em></td>
                                    </tr>
                                    <tr>
                                        <td>**bold**</td>
                                        <td><b>bold</b></td>
                                    </tr>
                                    <tr>
                                        <td>***italics and bold***</td>
                                        <td><i><b>italics and bold</b></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="markdownLink" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Links</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped markdownHelp">
                                <tbody>
                                <tr>
                                    <td width="50%">[Click here.](http://www.google.com)</td>
                                    <td><a href="http://www.google.com" target="_blank">Click here.</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        (E-mail Address)<br><br>test@example.com
                                    <td>
                                        <a href="mailto:test@example.com">test@example.com</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="markdownLink"  data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                Lists and Quotes</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped markdownHelp" id="markdownHelp">
                                <tbody>
                                <tr>
                                    <td width="50%">
                                        1. Item 1<br>
                                        2. Item 2<br>
                                        3. A third item
                                    </td>
                                    <td>
                                        <ol>
                                            <li>Item 1</li>

                                            <li>Item 2</li>

                                            <li>A third item</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td>* item 1<br>* item 2<br>* item 3<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* nested item</td>
                                    <td>
                                        <ul>
                                            <li>item 1</li>
                                            <li>item 2</li>
                                            <li>
                                                item 3
                                                <ul>
                                                    <li>nested item</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&gt; quoted text</td>
                                    <td>
                                        <blockquote>quoted text</blockquote>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="markdownLink" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                Adding Space Between Text</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped markdownHelp" id="markdownHelp">
                                <tbody>
                                <tr>
                                    <td width="50%">(Horizontal Line)<br><br>---</td>
                                    <td>
                                        <hr style="height: 5px; border-top-width: 5px; border-top-style: solid; border-top-color:#000000">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        (Skip a Line)<br><br>Some text...<br>
                                        <xmp><br></xmp>
                                        More text...
                                    <td>
                                        Some text...<br><br><br>More text...
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="text-align:center;width:100%;padding-top:20px;font-size:18px;">
                    Write away!
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;width:100%;padding-top:20px;padding-bottom:20px;font-size:18px;">
        <b>NOTE: Hit ENTER <i><u>twice (2)</u></i> to actually go to the next line.</b>
    </div>
</div>
<table class="table table-striped">
	<tbody>
		<tr>
			<td width="50%">
				<div>
					<label for="content">Type your text here...</label>
					<textarea name="content" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" data-autoresize class="markdownBox" rows="15" id="pad" style="resize:none;"></textarea>
				</div>
			</td>
			<td width="50%">
				<div>
					<label for="content">This is what it will look like in the app...</label>
					<div class="markdownBox" id="markdown"></div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	$("#toggle").click(function() {
		var list = ($(this)).find("span").attr('class').split(/\s+/);
		if (list.indexOf("glyphicon-plus") > -1) {
			$(this).find("span").addClass('glyphicon-minus').removeClass('glyphicon-plus');
		} else if (list.indexOf("glyphicon-minus") > -1) {
			$(this).find("span").addClass('glyphicon-plus').removeClass('glyphicon-minus');
		}
	});
    $("#markdown").css("min-height", $("#pad").css("height"));
</script>