<footer class="footer-distributed">
	<% var now = new Date(); var year = now.getFullYear(); %>
	<div class="footer-center">
		<p class="text-muted">&copy; <%= year %> WildcatConnect Educational Technologies. All rights reserved.</p>
	</div>
</footer>