<nav class="navbar navbar-inverse navbar-fixed-top"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">  <span class="sr-only">Toggle navigation</span>  <span
                        class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span> 
            </button>
              <a href="/" style="float:left;"
                 class="navbar-brand info"><%= model.page.configurations.applicationName %></a> 
        </div>
         
        <div id="navbar" class="navbar-collapse collapse"> 
            <ul class="nav navbar-nav navbar-left"> </ul>
             
            <% if (model.page.user.auth) { %>
             
            <ul class="nav navbar-nav navbar-right"> 
                <li>  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                         aria-expanded="false"><img src="/images/user@2x.png" alt="User"
                                                    style="display: inline-block; vertical-align: middle; margin-right:10px;"
                                                    width="22">My Account <span class="caret"></span></a> 
                    <ul class="dropdown-menu"> 
                        <li>  <p style="margin-bottom: 0px;">
                                <strong><%= model.object.user.firstName %> <%= model.object.user.lastName %></strong>
                            </p>  <p style="color:#777;"><%= model.object.user.userType %></p> 
                        </li>
                         
                        <li role="separator" class="divider"></li>
                         
                        <li>  <a href="/app/dashboard/settings"><span class="glyphicon glyphicon-cog"
                                                                      aria-hidden="true"></span> Settings</a> 
                        </li>
                         
                        <li>  <a href="mailto:team@wildcatconnect.com"><span class="glyphicon glyphicon-remove-circle"
                                                                             aria-hidden="true"></span> Report an issue</a> 
                        </li>
                         
                        <li role="separator" class="divider"></li>
                         
                        <li>  <a href="/app/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log
                                Out</a> 
                        </li>
                         
                    </ul>
                     
                </li>
                 
            </ul>
             
            <% } else if (model.page.title != "Login") { %>
             
            <ul class="nav navbar-nav navbar-right"> 
                <li>  <a href="/app/login"><img src="/images/user@2x.png" alt="User"
                                                style="display: inline-block; vertical-align: middle; margin-right:10px;"
                                                width="22">FACULTY LOGIN</a> 
                </li>
                 
            </ul>
             
            <% } %>
             
        </div>
         
    </div>
     
</nav>