<div class="container">
	<h1>Whoops.</h1>
	<h3><p class="text-muted">Something went wrong.</p></h3>
	<hr style="border-color:#561838";></hr>
	<% if (model.error.code == 404) { %>
		<p>We were unable to find the requested resource at <%= model.error.url %>. Please double check your URL, or simply head <a href="/app/dashboard">home</a>.</p>
	<% } else if (model.error.code == 401) { %>
		<p>You do not have permission to access <%= model.error.url %> on this server. Please head back <a href="/app/dashboard">home</a>.</p>
	<% } else if (model.error.code == 500) { %>
		<p>An internal server error occurred while trying to access <%= model.error.url %>. Please head back <a href="/app/dashboard">home</a>.</p>
	<% } %>
</div>