<div class="main-container container">
    <h1>Whoops. <%= model.page.configurations.applicationName %> is currently inactive.</h1>
    <h3><p class="text-muted">Message: <%= message %></p></h3>
</div>