<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Content Denial</title>
    <link href="./local.css" rel="stylesheet">
</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <!-- content -->
            <div class="content">
                <div>
                    <div class="imageLeft">
                        <img src="https://static.wildcatconnect.com/wey-logo.png" width="100%">
                    </div>
                    <div class="text-right">
                        <h1>WildcatConnect</h1>
                        <p>Bringing together Weymouth students, families, faculty and administrators in a user-friendly mobile application.</p>
                    </div>
                </div>
                <hr style="margin-bottom: 10px;">
                <table>
                    <tr>
                        <td>
                            <p>Dear <%= model.object.name %>,</p>
                            <br>
                            <p>Unfortunately, your recent <%= model.object.structureName %> has been denied by a member of administration. Please see below for details.</p>
                            <br>
                            <p>Article Title - <strong><%= model.object.title %></strong></p>
                            <p>Denial Message - <strong><%= model.object.message %></strong></p>
                            <p>Administrative User - <strong><%= model.object.admin %></strong></p>
                            <br>
                            <p>If you would like, you can recreate the <%= model.object.structureName %> and resubmit for approval. Thank you for your understanding.</p>
                            <br>
                            <p>Best,</p>
                            <br>
                            <p>WildcatConnect Development Team</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <% var now = new Date(); var year = now.getFullYear(); %>
                            <p class="text-muted">&copy; <%= year %> WildcatConnect Educational Technologies. All rights reserved.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /footer -->

</body>
</html>