<h4><p class="text-muted">Welcome to the <%= model.page.configurations.applicationName %> Web Dashboard. You can select any of the actions in the left sidebar.</p></h4>
<h3>Application Messages</h3>
<div id="applicationMessages">
	<% var now = moment().format("h:mm A"); %>
	<p>No application messages at this time.</p><p class="text-muted">Last updated at <%= now %>.</p>
</div>