<h4><p class="text-muted">Complete the following form to submit a new scholarship.</p></h4>
<% include ./navigation %>
<form class="form-add-scholarship" role="form" id="form" name="form" method="post" action="/app/dashboard/scholarship/new" enctype="multipart/form-data" style="padding-top:20px;">
    <div class="form-group">
        <label for="title">Title (60 characters max)</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title" maxlength="60">
    </div>
    <div class="form-group">
        <label for="author">Creator</label>
        <input type="text" name="author" class="form-control" id="author">
    </div>
    <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input type='text' name="dueDate" id="dueDate" />
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <h6><i>(i.e. due date, application instructions, submission information, etc.)</i></h6>
        <% include ../markdown.ejs%>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
<script>

    $("#author").val("<%= model.object.user.firstName %> <%= model.object.user.lastName %>");
    $("#author").attr("disabled", true);

    $("#dueDate").datepicker();
    $("#dueDate").datepicker( "option", "showAnim", "blind" );
    $('#dueDate').datepicker("setDate", new Date() );

    $('form').submit(function (e) {
        setLoadingMessage("Saving scholarship...");
        $("#loading").fadeIn();
    });

    document.getElementById('title').value = "<%= model.customModel.title %>";
    $("#pad").val(`<%- model.customModel.content %>`);
</script>