<h4><p class="text-muted">Manage current app alerts, post new alerts and review user data.</p></h4>
<a href="/app/dashboard"><button class="btn btn-primary btn-back">Cancel</button></a>
<a href="/app/dashboard/alert/new"><button class="btn btn-primary btn-back" style="float:right;">Post New Alert</button></a>
<h4 id="titleLabel">Currently Pending Alerts</h4>
<div id="pending">

</div>
<h4 id="existingLabel">Recently Posted Alerts</h4><input type="text" id="search" placeholder=" SEARCH">
<div id="alerts">

</div>
<script>

    $('#search').keyup(function() {

        var $rows = $('#alertTable tr');

        $rows.splice(0, 1);

        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

    loadPage();

    var requests = new Array();
    var current = new Array();

    function loadPage(message) {
        $("#alerts").html("");
        $("#pending").html("");
        setLoadingMessage("Loading alerts...");
        $("#loading").fadeIn();
        $.ajax({
            url: "manage/ajax/load",
            type: "post",
            data: {key: "value"}, // Encrypt all data...
            datatype: 'json',
            crossDomain: true,

            success: function(response){
                requests = response["requests"];
                current = response["current"];
                if (requests != null && current != null) {
                    if (requests.length > 0) {
                        loadNewTable();
                    } else {
                        $("#titleLabel").html("Currently Pending Alerts");
                        $("#pending").html('<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>There are currently no active pending alerts.</h4>');
                    }
                    if (current.length > 0) {
                        loadCurrentTable();
                    } else {
                        $("#existingLabel").html("Recently Posted Alerts");
                        $("#alerts").html('<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>There are currently no active alerts in the app.</h4>');
                    }
                    if (message != null)
                        setMessage(message, false);
                    $("#loading").fadeOut();
                } else {
                    setMessage("Unable to load alerts. Please try to reload the page.", true);
                    $("#loading").fadeOut();
                }
            },

            error: function(request, status, error) {
                setMessage("Internal server error. If this problem continues, please contact support.", true);
                $("#loading").fadeOut();
            }
        });
    }

    function loadNewTable() {
        $("#titleLabel").html("Currently Pending Alerts (" + requests.length+")");

        var tableDiv = document.getElementById("pending");
        var table = document.createElement("TABLE");
        var tableBody = document.createElement("TBODY");

        table.appendChild(tableBody);
        table.className = "table table-striped";
        table.id = "alertTable";

        var heading = new Array();
        heading[0] = "Post Date";
        heading[1] = "Title";
        heading[2] = "Author";
        heading[3] = "Content";
        heading[4] = "Action";

        //TABLE COLUMNS

        var tr = document.createElement("TR");
        tableBody.appendChild(tr);

        $("#pending").html("");

        for (var i = 0; i < heading.length; i++) {
            var th = document.createElement("TH");
            th.width = '20%';
            th.appendChild(document.createTextNode(heading[i]));
            tr.appendChild(th);
        };

        for (var i = 0; i < requests.length; i++) {
            var tr = document.createElement("TR");

            var tdTwo = document.createElement("TD");
            var string = requests[i]["dateString"];
            tdTwo.appendChild(document.createTextNode(string));
            tr.appendChild(tdTwo);

            var tdOne = document.createElement("TD");
            tdOne.appendChild(document.createTextNode(requests[i]["titleString"]));
            tr.appendChild(tdOne);

            var tdOne = document.createElement("TD");
            tdOne.appendChild(document.createTextNode(requests[i]["authorString"]));
            tr.appendChild(tdOne);

            var tdOne = document.createElement("TD");
            var contentButton = document.createElement("INPUT");
            contentButton.type = "button";
            contentButton.className = "btn btn-lg btn-primary editContent";
            contentButton.value = "Edit Content";
            contentButton.name = i;
            contentButton.style.marginRight = "10px";
            tdOne.appendChild(contentButton);
            tr.appendChild(tdOne);

            var tdFour = document.createElement("TD");

            var buttonTwo = document.createElement("INPUT");
            buttonTwo.type = "button";
            buttonTwo.className = "btn btn-lg btn-primary deletePending";
            buttonTwo.value = "Cancel Alert";
            buttonTwo.name = i;
            buttonTwo.style.marginRight = "10px";
            buttonTwo.style.backgroundColor = "red";
            buttonTwo.style.borderColor = "red";
            tdFour.appendChild(buttonTwo);
            tr.appendChild(tdFour);

            tableBody.appendChild(tr);

            tableDiv.appendChild(table);
        };
    }

    function loadCurrentTable() {
        $("#existingLabel").html("Recently Posted Alerts (" + current.length+")");

        var tableDiv = document.getElementById("alerts");
        var table = document.createElement("TABLE");
        var tableBody = document.createElement("TBODY");

        table.appendChild(tableBody);
        table.className = "table table-striped";
        table.style = "padding-top:20px;";
        table.id = "alertTable";

        var heading = new Array();
        heading[0] = "Date Posted";
        heading[1] = "Title";
        heading[2] = "Author";
        heading[3] = "Content";
        heading[4] = "Views";
        heading[5] = "Action";

        //TABLE COLUMNS

        var tr = document.createElement("TR");
        tableBody.appendChild(tr);

        $("#alerts").html("");

        for (var i = 0; i < heading.length; i++) {
            var th = document.createElement("TH");
            th.width = '19%';
            th.appendChild(document.createTextNode(heading[i]));
            tr.appendChild(th);
        };

        for (var i = 0; i < current.length; i++) {
            var tr = document.createElement("TR");

            var tdTwo = document.createElement("TD");
            var string = current[i]["dateString"];
            tdTwo.appendChild(document.createTextNode(string));
            tr.appendChild(tdTwo);

            var tdOne = document.createElement("TD");
            tdOne.appendChild(document.createTextNode(current[i]["titleString"]));
            tr.appendChild(tdOne);

            var tdOne = document.createElement("TD");
            tdOne.appendChild(document.createTextNode(current[i]["authorString"]));
            tr.appendChild(tdOne);

            var tdOne = document.createElement("TD");
            var contentButton =document.createElement("INPUT");
            contentButton.type = "button";
            contentButton.className = "btn btn-lg btn-primary viewContentNew";
            contentButton.value = "View Content";
            contentButton.name = i;
            contentButton.style.marginRight = "10px";
            tdOne.appendChild(contentButton);
            tr.appendChild(tdOne);

            var tdOne = document.createElement("TD");
            tdOne.appendChild(document.createTextNode(current[i]["views"]));
            tr.appendChild(tdOne);

            var tdFour = document.createElement("TD");

            var buttonTwo = document.createElement("INPUT");
            buttonTwo.type = "button";
            buttonTwo.className = "btn btn-lg btn-primary deleteCurrent";
            buttonTwo.value = "Delete";
            buttonTwo.name = i;
            buttonTwo.style.marginRight = "10px";
            buttonTwo.style.backgroundColor = "red";
            buttonTwo.style.borderColor = "red";
            tdFour.appendChild(buttonTwo);
            tr.appendChild(tdFour);

            tableBody.appendChild(tr);

            tableDiv.appendChild(table);
        };
    }

    $(document).on('click', ".editContent", function() {
        var count = this.name;
        var titleString = requests[count]["titleString"];
        var authorDate = requests[count]["authorString"] + " | " + requests[count]["dateString"];
        var html = requests[count]["contentString"];
        var theID = requests[count]["alertID"];

        // Call edit ajax, render new view, handle everything there, then come back here with success message / cancellation by user
        // TODO
    });

    $(document).on('click', ".viewContentNew", function() {
        var count = this.name;
        var titleString = current[count]["titleString"];
        var authorDate = current[count]["authorString"] + " | " + current[count]["dateString"];
        var html = current[count]["contentString"];

        var converter = new showdown.Converter();
        html = converter.makeHtml(html);
        html = html.replace(/<a href/g, '<a target="_blank" href');
        html = html.replace(/<hr/g, '<hr style="height: 5px; border-top-width: 5px; border-top-style: solid; border-top-color:#000000"');
        html = linkifyHtml(html, {
            target: '_blank'
        });

        BootstrapDialog.show({
            title: 'Alert Preview',
            size: BootstrapDialog.SIZE_WIDE,
            message: function(dialogItself) {
                var $form = $('<form></form>');
                $form.append('<h1 style="margin-top:0;">'+titleString+'</h1><h5>'+authorDate+'</h5>');
                $form.append('<hr style="border-color:#561838">' + html);
                return $form;
            },// <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            buttons: [{
                label: 'OK',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });
    });

    $(document).on('click', ".deletePending", function() {
        var index = this.name;
        var ID = requests[index]["alertID"];
        BootstrapDialog.confirm({
            title: 'Confirmation',
            message: 'Are you sure you want to cancel this alert?',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-primary', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    $("#loading").fadeIn();
                    setLoadingMessage("Cancelling alert...");
                    $.ajax({
                        url: "manage/ajax/delete",
                        type: "post",
                        data: { ID: ID },
                        datatype: 'json',
                        crossDomain: true,

                        success: function(response){
                            setLoadingMessage("Reloading alerts...");
                            if (response["res"] == "SUCCESS") {
                                loadPage("Alert successfully cancelled.");
                            } else {
                                setMessage("Unable to cancel alert. Please try to reload the page.", true);
                                $("#loading").fadeOut();
                            }
                        },

                        error: function(request, status, error) {
                            setMessage("Internal server error. If this problem continues, please contact support.", true);
                            $("#loading").fadeOut();
                        }
                    });
                };
            }
        });
    });

    $(document).on('click', ".deleteCurrent", function() {
        var index = this.name;
        var ID = current[index]["alertID"];
        BootstrapDialog.confirm({
            title: 'Confirmation',
            message: 'Are you sure you want to delete this alert?',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-primary', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    $("#loading").fadeIn();
                    setLoadingMessage("Deleting alert...");
                    $.ajax({
                        url: "manage/ajax/delete",
                        type: "post",
                        data: { ID: ID },
                        datatype: 'json',
                        crossDomain: true,

                        success: function(response){
                            setLoadingMessage("Reloading alerts...");
                            if (response["res"] == "SUCCESS") {
                                loadPage("Alert successfully deleted.");
                            } else {
                                setMessage("Unable to delete alert. Please try to reload the page.", true);
                                $("#loading").fadeOut();
                            }
                        },

                        error: function(request, status, error) {
                            setMessage("Internal server error. If this problem continues, please contact support.", true);
                            $("#loading").fadeOut();
                        }
                    });
                };
            }
        });
    });

</script>