<h4><p class="text-muted">Complete the following form to submit a new user poll.</p></h4>
<% include ./navigation %>
<form id="form" name="form" class="form-add-poll" role="form" onsubmit="submitFunction();" method="post" action="/app/dashboard/poll/new" enctype="multipart/form-data" style="padding-top: 20px;">
    <div class="form-group">
        <label for="title">Title (50 characters max)</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title" maxlength="50">
    </div>
    <div class="form-group">
        <label for="question">Question</label>
        <textarea type="question" name="question" class="form-control" id="question" rows="5" style="resize:none;"></textarea>

    </div>
    <label for="daysActive">Number of Days Active in App</label>
    <select id='daysActive' name="daysActive">
        <option value="-1">NONE SELECTED</option>
    </select>
    <br>
    <label for="numberSelect">Number of Poll Choices</label>
    <select id='numberSelect' name="numberSelect" onchange="selectNumber(this.selectedIndex + 1);"></select>
    <br>
    <label for="choices">Choices</label>
    <div id='choices'>
        <p>
            <input type="text" name="choice" class="form-control" id="choice_0" placeholder="Choice 1" onkeyup="keyPress(0);"></p>
            <p><input type="text" name="choice" class="form-control" id="choice_1" placeholder="Choice 2" onkeyup="keyPress(1);">
        </p>
    </div>
    <input type="hidden" name="finalChoices" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
<script>
    var select = document.getElementById('daysActive');
    for (var i = 1; i < 15; i++) {
        var option = document.createElement('option');
        option.text = option.value = i;
        select.appendChild(option);
    };
    var numberSelect = document.getElementById('numberSelect');
    for (var e = 2; e < 11; e++) {
        var option = document.createElement('option');
        option.text = option.value = e;
        numberSelect.appendChild(option);
    };
    var choicesDiv = document.getElementById('choices');
    var i = 2;
    var test = "<%= model.customModel.rawChoices %>".split(",");
    var theTest = test != null && test.length > 0 && test[0] != "";
    var choicesArray = theTest ? test : new Array();
    if (choicesArray.length > 0) {
        choicesDiv.innerHTML = "";
        for (var m = 0; m < choicesArray.length; m++) {
            choicesDiv.innerHTML = choicesDiv.innerHTML + '<p><input type="text" name="choice" class="form-control" id="choice_'+m+'" value="'+choicesArray[m]+'" onkeyup="keyPress('+m+');"></p>';
        };
    }
    function keyPress(k) {
        var theString = document.getElementById("choice_" + k).value;
        if (k < choicesArray.length) {
            choicesArray[k] = theString;
        } else {
            choicesArray.push(theString);
        };
    }

    var currentCount = 0;

    function selectNumber(o) {
        choicesDiv.innerHTML = "";
        for (var m = 0; m < o + 1; m++) {
            if (choicesArray[m]) {
                choicesDiv.innerHTML = choicesDiv.innerHTML + '<p><input type="text" name="choice" class="form-control" id="choice_'+m+'" value="'+choicesArray[m]+'" onkeyup="keyPress('+m+');"></p>';
            } else {
                choicesDiv.innerHTML = choicesDiv.innerHTML + '<p><input type="text" name="choice" class="form-control" id="choice_'+m+'" placeholder="Choice '+(m+1)+'" value="" onkeyup="keyPress('+m+');"></p>';
            };
        };
        if (o + 1< currentCount) {
            for (var m = o; m < choicesArray.length; m++) {
                if (choicesArray[m]) {
                    choicesArray.splice(m, 1);
                    m--;
                } else {
                    break;
                }
            };
        };
        currentCount = o + 1;
    }

    function submitFunction() {
        document.form.finalChoices.value = choicesArray;
    }

    $('form').submit(function (e) {
        setLoadingMessage("Saving poll...");
        $("#loading").fadeIn();
    });

    $("#title").val("<%= model.customModel.title %>");
    $("#question").val("<%= model.customModel.question %>");
    var test = "<%= model.customModel.daysActive %>";
    if (test != "")
        $("#daysActive").val(test);
    if (choicesArray.length > 0)
        $("#numberSelect").val(choicesArray.length);
</script>